<template name="hello">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center">Welcome to Meteor!</h1>

      <div class="row center">
        <button type="button" name="button" class="btn-large waves-effect waves-light">Click Me</button>
      </div>

      <div class="row center">
        <a class="waves-effect waves-light btn-large social google">
          <i class="fa fa-google"></i> Sign in with google
        </a>
      </div>

      <div class="row center">
        <h5 class="header col s12 light">You've pressed the button {{counter}} times.</h5>
      </div>
      <br><br>
    </div>
  </div>
</template>
