<template name="info">
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 offset-m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Learn Meteor!</h5>
            <ul>
              <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
              <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
              <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
              <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</template>
